<html>
<head>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
     
    <title>Predict Dog or Cat Image Classification Application</title>
</head>
<body>

  <!-- Show  Banner-->
  <div>
    <img src="static/images/cat-dog-bad-breath-header.jpg" class="w3-border w3-padding" alt="dog-cat" style="width:100%">
  </div>

    <form action="/predict" method="post" enctype="multipart/form-data" style="margin-top: 50px; width: 60%; text-align: center; margin: auto;" onsubmit="showloading()">
        <span class="text-left btn btn-default btn-file">
            Upload Image <input type="file" name="image">
        </span>   
    
        <span class="text-right">
          <input type="submit" value="Predict" class="btn btn-primary">
        </span>
      </form>

</body>
</html>